.NavBars{
    margin-top: -24px;
}
.Nav_links{
    color: white;
}
.Nav_links:hover{
    text-decoration: none;
    color: gainsboro;
}

#collasible-nav-dropdown{
    color: white;
}
#collasible-nav-dropdown:hover{
    color: gainsboro;
}
.drop_links{
    text-decoration: none;
    color: black;
}